<div id="game-lobby" ng-controller="LobbyController as lobby" ng-show="lobby.lobbyVis()">
    <div id="lobby-box" class="display-box">
        <div id="player-box">
            <h3> Players </h3>
            <div>
                <p ng-repeat="(i, player) in players track by $index">
                    {{player.DisplayName}}
                    {{}}
                </p>
            </div>
        </div>
        <div id="chat area">

        </div>
        <button id="logout-button" class="pretty-button" type="button" ng-click="lobby.delCookie()"> Log Out </button>
        <button id="start-button" class="pretty-button" type="button" ng-click="lobby.startGame()"> Start Game </button>
    </div>
</div>