<div id="left-bar" class="side-bars" ng-controller="GameController as game" >

    <div id="player-state" class="game-box" >
        <h3> Players </h3>
        <div>
            <div class="player-box" ng-repeat="player in players">
                <img id={{playerString}}{{player.PlayerOrder}} src="images/player-placeholder.jpg"  class="player-image lobby-player" ng-show="nameObj.PlayerImage == null"/>
                <img id={{playerString}}{{player.PlayerOrder}} src="{{nameObj.PlayerImage}}" class="player-image lobby-player" ng-hide="nameObj.PlayerImage == null"/>

                <p class="player-name">{{player.DisplayName}}</p>
                <img src="images/current-player.png" class="current-marker" ng-show="CurrentPlayer==player.PlayerOrder"/>
            </div>
        </div>
    </div>

    <div id="current-country" class="game-box">
        <div>
            <div id="game-message-area">
                <p ng-repeat="message in chatMessages">
                    <em>{{message.Username}}: </em> {{message.Message}}
                </p>
            </div>
            <div id="game-chat-bar" class="create-game" >
                <form>
                    <input id="game-chatbox" type="text" class="input-type create-input" name="chat" placeholder="Chat">
                    <button id="game-chat-button" class="pretty-button create-button" type="button" ng-click="game.sendChat()"> Send </button>
                </form>
            </div>
        </div>
        <!--<div>-->
            <!--<button class="quit-button fat" type="button" ng-click="game.magic()"> magic </button>-->
        <!--</div>-->
    </div>
</div>