<div id="left-bar" ng-controller="GameController as game" >

    <div id="player-state" class="display-box" >
        <h3> Players </h3>
        <div class="player-box" ng-repeat="player in players">
            <canvas id={{playerString}}{{player.PlayerOrder}} class="player-color"> </canvas>
            <p  class="player-name"> {{player.DisplayName}} </p>
        </div>
    </div>

    <div id="game-state" class="display-box">
        <h3>{{phase}} Phase</h3>
        <p ng-show="phase=='Setup'">Countries Remaining: {{countryCount}}</p>
        <p>Current Player: {{currentUserName}}</p>
        <p ng-show = "phase == 'Deploy'">Troops to Deploy: {{troopsToDeploy}}</p>
    </div>
    <div ng-hide="game.endPhaseVis()">
    <!--<button id="endphase" class="pretty-button" type="button" ng-click="game.endphase()" > End Phase</button>-->
    </div>
    <div ng-show="phase=='Attack'">
     <button id="endphase" class="pretty-button" type="button" ng-click="game.endTurn()" > End Turn</button>
    </div>
</div>