
<div  id="login-box" class="display-box" ng-controller="LoginController as login" ng-show="login.loginVis()">
    <h1> Login </h1>
    <div id="login-bar" class="create-game" >
        <form>
            <input id="login-textbox" type="text" class="input-type create-input" name="username" placeholder="username">
            <button class="pretty-button create-button" type="button" ng-click="login.setUser()"> Enter </button>
        </form>
    </div>

    <div class="center">
        <img src="images/facebook-round.png" class="login-button" ng-click="login.facebook()" />
        <img src="images/google-plus-round.png" class="login-button" ng-click="login.google()" />
    </div>
</div>
