<div id="right-bar" class="side-bars" ng-controller="PhaseController as phase">
    <div id="phase-areas">
        <!--<div id="game-state" class="display-box">-->
            <!--<h3>{{phase}} Phase</h3>-->
            <!--<p ng-show="phase=='Setup'">Countries Remaining: {{countryCount}}</p>-->
            <!--<p>Current Player: {{currentUserName}}</p>-->
            
        <!--</div>-->
        <div ng-hide="phase.atkBoxes()">
            <div id="attack-box" class="game-box">
                <h3>Attacking Country</h3>
                <p>Country: {{attackCountryName}}</p>
                <p>Troops: {{attackTroops}}</p>

                <h3>Defending Country</h3>
                <p>Country: {{defendCountryName}}</p>
                <p>Troops: {{defendTroops}}</p>

                <button id="attack1" class="pretty-button" type="button" ng-click="phase.attack()"><strong>Attack (only one troop for now)</strong></button>
            </div>
        </div>
        <div ng-hide="phase.deployBoxes()">
            <div id="deploy-box" class="game-box">
                <h3>Deploy Troops</h3>
                <p>Troops to Deploy: {{troopsToDeploy}}</p>
            </div>
        </div>
        <div ng-hide="phase.reinfBoxes()">
            <div id="reinf-from" class="game-box">
                <h3>Reinforce From</h3>
                <p>{{countryName}}</p>
                <p>{{playerName}}</p>
                <p>{{troops}}</p>

                <h3>Reinforce To</h3>
                <p>{{countryName}}</p>
                <p>{{playerName}}</p>
                <p>{{troops}}</p>

                <input id="troop-amount" type="text" class="input-type" name="amount" placeholder="">
                <button id="reinf" class="pretty-button" type="button" ng-click="phase.move()"><strong>Move x Troops</strong></button>
            </div>
        </div>
    </div>
    <div id="game-chat" class="game-box">
        <p> CHAT AREA TO BE IMPLEMENTED </p>
        <div ng-hide="phase.endPhaseVis()">
            <button id="endphase" class="pretty-button fat" type="button" ng-click="phase.endPhase()" > End Phase</button>
        </div>
    </div>

</div>