<div id="right-bar" class="side-bars" ng-controller="PhaseController as phase">
    <div id="phase-areas">
        <div ng-hide="CurrentPlayer == thisUserNumber">
            <h3> Current Phase</h3>
            <p>{{phase}} Phase</p>
        </div>
        <div>
            <h3> Current Country </h3>
            <p>Country: {{countryName}}</p>
            <p>Owner: {{playerName}}</p>
            <p>Troops: {{troops}}</p>
        </div>

        <div ng-hide="phase.setupBoxes()">
            <div id="game-state" class="game-box">
                <h3>Setup</h3>
                <p>Countries Remaining: {{countryCount}}</p>
            </div>
        </div>
        <div ng-hide="phase.atkBoxes()">
            <div id="attack-box" class="game-box">
                <h3>Attacking Country</h3>
                <p>Country: {{attackCountryName}}</p>
                <p>Troops: {{attackTroops}}</p>

                <h3>Defending Country</h3>
                <p>Country: {{defendCountryName}}</p>
                <p>Troops: {{defendTroops}}</p>

                <button id="attack1" class="pretty-button" type="button" ng-click="phase.attack()"><strong>Attack (only one troop for now)</strong></button>
            </div>
        </div>
        <div ng-hide="phase.deployBoxes()">
            <div id="deploy-box" class="game-box">
                <h3>Deploy Troops</h3>
                <p>Troops to Deploy: {{troopsToDeploy}}</p>
            </div>
        </div>
        <div ng-hide="phase.reinfBoxes()">
            <div id="reinf-from" class="game-box">
                <h3>Reinforce From</h3>
                <p>Country: {{moveFromCountryName}}</p>
                <p>Troops: {{moveFromTroops}}</p>

                <h3>Reinforce To</h3>
                <p>Country: {{moveToCountryName}}</p>
                <p>Troops: {{moveToTroops}}</p>
                <img src="images/current-player.png" class="notification-nav left" ng-click="phase.decrement()"/>
                <p id="game-notification">{{amountTroopsToMove}}</p>
                <img src="images/current-player-reverse.png" class="notification-nav right" ng-click="phase.increment()"/>
                <button id="reinf" class="pretty-button" type="button" ng-click="phase.move()"><strong>Move Troops</strong></button>
            </div>
        </div>
    </div>
    <div id="game-chat" class="game-box">

        <div >
            <button id="endphase" class="pretty-button fat" type="button" ng-click="phase.endPhase()" ng-hide="phase.endPhaseVis()"> End Phase</button>
            <button class="quit-button fat" type="button" ng-click="phase.quitGame()"> Quit </button>
        </div>
    </div>

</div>