/*
	Capstone Project
	Designed by: Group 1
	Date: 28/07/2014
	Filename: style.css
*/
body
{
    background: url('../images/background.jpg') no-repeat;
    background-size: cover;
}

#frame
{
    width: 90%;
    height: 90%;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

#game-frame{
    height: 100%;
}

#map-canvas
{
    border-radius: 50%;
    background-color: cornflowerblue;
    opacity: 0.90;
}
#top-logo
{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

#login-box
{
    margin-left: auto; margin-right: auto;
    width: 50%;
    height: 50%;
    min-height: 185px;
}

.center
{
    margin: 0 auto;
}

.login-button
{
    display: inline-block;
    width: 30%;
    margin-left: 9.5%;
    margin-right: 9.5%;
    opacity: 1;
    blend-mode: screen;
}
.display-box
{
    background-color: #ffffff;
    opacity: 0.8;
    vertical-align: middle;
}

#left-bar, #map, #right-bar
{
    float: left;
    width: 25%;
}


#lobby-box
{
    width: 50%;
    margin: 0 25%;
}

.lobby-area
{
    width: 45%;
    display: inline-block;
    margin: 2%;
}

#lobby-box
{

}

.player-box
{
    margin-top: 4px;
}
.player-name
{
    display: inline-block;
}
.player-color
{
    height: 10px;
    width: 10px;
}

.remove-button
{
    display: inline-block;
    float: right;
    border: none;
    background-color: red;
    color: white;
}

.player-box
{
    margin-top: 4px;
}
.player-name
{
    display: inline-block;
}
.player-color
{
    height: 10px;
    width: 10px;
}

.remove-button
{
    display: inline-block;
    float: right;
    border: none;
    background-color: red;
    color: white;
}


.input-chat
{
    width: 100%;
}

h3
{
    margin-bottom: 5px;
    text-align: center;
}
.pretty-button
{
    width: 100%;
    display: inline-block;
    background-color: #ffffff;
    border: none;
}
#attack1, #attack2, #attack3, #attackF
{
    background-color: #ff1e25;
}



h1
{
    text-align: center;
}




#login-form
{
    text-align: center;
    display: block;
    padding-top: 10px;
    padding-bottom: 20px;
}

.input-type
{
    width: 80%;
    margin-top: 10px;
}

#create-game #join-game
{
    width: 135px;
    display: block;
    margin-top: 10px;
    background-color: #afb3aa;
    border: solid;
}

#google-button, #facebook-button, #logout-button, #start-button
{
    width: 135px;
    display: inline-block;
    margin-top: 10px;
    border: none;
}

#google-button
{
    background-color: #d34836;
}



#facebook-button
{
    background-color: #3B5998;
}

#logout-button
{
    float: right;
}

#start-button
{
    float: right;
}

#player0 {
    background-color: #FF3B30;
}

#player1 {
    background-color: #00ff1b;
}

#player2 {
    background-color: #FF5400;
}

#player3 {
    background-color: #4A4A4A;
}

#player4 {
    background-color: #6f3edb  ;
}

#player5 {
    background-color: #007AFF;
}